@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model IEnumerable<ProyectoFinal.Models.Product>
<!--Index catálogo-->





<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">

           @if (ViewBag.pedido == 1)
            {
            <div class="alert alert-success mt-4 dispose" id="success-alert" role="alert">
                Su pedido fue completado con éxito
            </div>

            TempData.Remove("pedido");
            }


            <h2 class="mb-2">Nuestro Catálogo</h2>
            <hr />

            <!--Tarjeta de productos-->

            <div class="row pb-5 mb-4">


                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card rounded shadow-sm border-0">
                            <div class="card-body p-4">

                                <a><img src="@Html.DisplayFor(modelItem => item.Thumbnail)" alt="" class="img-fluid d-block mx-auto mb-3"></a>
                                <h5>
                                    @Html.ActionLink(item.ProductName, "Details",
                                        new { id = item.idProducts },
                                        new { @class = "text-dark" })
                                </h5>
                                <h5 class="text-secondary float-right">$ @Html.DisplayFor(modelItem => item.Price)</h5>
                            </div>
                        </div>
                    </div>

                }
            </div>

        </div>
    </div>
</div>