
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/general.css" />



<h1 style="color:sienna; margin-top:50px;">Conócenos</h1>

<div class="text-center slideanim">
    <div class="row" style="margin-top:100px; margin-bottom:30px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-4 col-sm-12">
            <img style="width: 340px; height: 340px; " src="~/img/SillaLanding.png" alt="Fondo"></a>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h3 class="titulo mt-5"> ¿Quienes Somos?</h3>
            <p class="desc">
                Space Decor, es un proyecto que nació en enero del 2021, como una idea convirtiéndose en sueño de tres estudiantes de CEUTEC, apasionados por los productos de madera, que aparte de ser necesarios en tu hogar le dan elegancia. En Space Decor puedes encontrar productos ya fabricados y al mismo tiempo puedes diseñarlo a tu gusto, con un tiempo de entrega menor al de un negocio tradicional.
            </p>
        </div>
    </div>

    <div class="row" style="margin-top:100px; margin-bottom:30px;">
        <div class="col-lg-7 col-sm-12 slideanim">
            <h3 style="color:sienna; margin-top:22px"> Objetivo General</h3>
            <hr style="color:burlywood;" />
            <p style="color: sienna;font-size: 18px; ">
                Ofrecer productos decorativos de madera para el hogar por medio de una plataforma virtual donde podrás elegir productos existentes y además tienes la opción de diseñarlo tu mismo a tu gusto.
            </p>
        </div>
        <div class="col-lg-5 col-sm-12">
            <img style="width: 340px; height: 340px; " src="https://www.soyvisual.org/sites/default/files/styles/twitter_card/public/images/photos/col_0005.jpg?itok=epLcBn24" alt="Fondo"></a>
        </div>
    </div>

    <div class="row" style="margin-top:100px; margin-bottom:30px;">
        <div class="col-lg-6 col-sm-12 slideanim">
            <h3 style="color:sienna; margin-top:22px"> Misión</h3>
            <hr style="color:burlywood;" />
            <p style="color: sienna;font-size: 18px; ">
                Facilitar la decoración del hogar conectando al cliente con el mundo de la madera ofreciendo la opción más rápida y fácil.
            </p>
        </div>
        <div class="col-lg-5 col-sm-12 slideanim">
            <h3 style="color:sienna; margin-top:22px"> Visión</h3>
            <hr style="color:burlywood;" />
            <p style="color: sienna;font-size: 18px; ">
                Ser una empresa innovadora reconocida a nivel nacional por ofrecer productos de madera de alta durabilidad y precios accesibles, haciendo uso de la tecnología para agilizar el proceso de personalización y compra.
            </p>
        </div>
    </div>

    <div>
        <div>
            <h3 style="color: burlywood;margin-top: 70px;font-weight: bold;font-size: 30px;"> Valores</h3>
            <div style="color: sienna;font-size: 18px;margin-bottom: 50px;" class="list-group slideanim">
                <a class="list-group-item list-group-item-action" data-bs-toggle="list">Transparencia</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list">Honestidad</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list">Puntualidad en las entregas</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list">Excelencia</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list">Adaptabilidad</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list">Diligencia</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list">Constancia</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list">Justicia</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list">Cercanía</a>
            </div>
        </div>
    </div>




    <a style="margin-top: 50px;" class="navbar-brand" href="https://www.facebook.com/SpaceDecorHN">
        <img src="~/img/facebook-icon.png" alt="Facebook" width="30">
    </a>

    <div class="float-md-none">
        <a class="btn btnMain" asp-controller="Contactos" asp-action="Create">Contáctanos</a>
    </div>

    <a class="navbar-brand" href="https://www.instagram.com/spacedecoroficial/">
        <img src="~/img/insta-icon.png" alt="Instagram" width="30">
    </a>


</div>

<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function (event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });

        $(window).scroll(function () {
            $(".slideanim").each(function () {
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });
        });
    })
</script>




